*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;

}
.container{
    background-color: rgb(32, 116, 116);
    padding: 15px 20px 15px 20px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 10px;

}

    

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"],
input[type="file"],
textarea,select{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(200, 150, 75);
    border-radius: 5px;
    margin: 5px;
}
heading{
    text-align-last: center;
}
input[type="submit"]{
    background-color: rgb(48, 8, 85);
    padding: 12px;
    border-radius: 4px;
    cursor: crosshair;
    
}
